body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1024px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u64_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:925px;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:111px;
  width:590px;
  height:925px;
  display:flex;
}
#u64 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u64_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u65_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:55px;
  background:inherit;
  background-color:rgba(26, 46, 126, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#0400B3;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:203px;
  width:360px;
  height:55px;
  display:flex;
  font-family:'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#0400B3;
}
#u65 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u65_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u66_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Bold', 'Segoe UI Regular', 'Segoe UI', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:26px;
  color:#FFFFFF;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:473px;
  top:214px;
  width:79px;
  height:34px;
  display:flex;
  font-family:'Segoe UI Bold', 'Segoe UI Regular', 'Segoe UI', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:26px;
  color:#FFFFFF;
}
#u66 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u66_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u67_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:45px;
  background:inherit;
  background-color:rgba(26, 35, 126, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#0400B3;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:897px;
  width:360px;
  height:45px;
  display:flex;
  font-family:'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#0400B3;
}
#u67 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u68_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:404px;
  top:913px;
  width:216px;
  height:33px;
  display:flex;
  font-family:'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u68 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u68_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u69_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:22px;
  text-align:center;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:303px;
  width:343px;
  height:26px;
  display:flex;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:22px;
  text-align:center;
}
#u69 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u69_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u70_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:442px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:347px;
  top:378px;
  width:331px;
  height:442px;
  display:flex;
}
#u70 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u70_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u71 label {
  left:0px;
  width:100%;
}
#u71_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:366px;
  width:325px;
  height:20px;
  display:flex;
  font-size:14px;
}
#u71 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u71_img.selected {
}
#u71.selected {
}
#u71_img.disabled {
}
#u71.disabled {
}
#u71_img.hint.disabled {
}
#u71.hint.disabled {
}
#u71_img.selected.disabled {
}
#u71.selected.disabled {
}
#u71_img.error.disabled {
}
#u71.error.disabled {
}
#u71_img.selected.hint.disabled {
}
#u71.selected.hint.disabled {
}
#u71_img.error.hint.disabled {
}
#u71.error.hint.disabled {
}
#u71_img.selected.error.disabled {
}
#u71.selected.error.disabled {
}
#u71_img.selected.error.hint.disabled {
}
#u71.selected.error.hint.disabled {
}
#u71_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:2px;
  width:301px;
  white-space:nowrap;
  text-transform:none;
}
#u71_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u72 label {
  left:0px;
  width:100%;
}
#u72_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:20px;
  height:20px;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:415px;
  width:325px;
  height:32px;
  display:flex;
  font-size:14px;
}
#u72 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u72_img.selected {
}
#u72.selected {
}
#u72_img.disabled {
}
#u72.disabled {
}
#u72_img.hint.disabled {
}
#u72.hint.disabled {
}
#u72_img.selected.disabled {
}
#u72.selected.disabled {
}
#u72_img.error.disabled {
}
#u72.error.disabled {
}
#u72_img.selected.hint.disabled {
}
#u72.selected.hint.disabled {
}
#u72_img.error.hint.disabled {
}
#u72.error.hint.disabled {
}
#u72_img.selected.error.disabled {
}
#u72.selected.error.disabled {
}
#u72_img.selected.error.hint.disabled {
}
#u72.selected.error.hint.disabled {
}
#u72_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:0px;
  width:301px;
  word-wrap:break-word;
  text-transform:none;
}
#u72_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u73 label {
  left:0px;
  width:100%;
}
#u73_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:20px;
  height:20px;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:479px;
  width:325px;
  height:32px;
  display:flex;
  font-size:14px;
}
#u73 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u73_img.selected {
}
#u73.selected {
}
#u73_img.disabled {
}
#u73.disabled {
}
#u73_img.hint.disabled {
}
#u73.hint.disabled {
}
#u73_img.selected.disabled {
}
#u73.selected.disabled {
}
#u73_img.error.disabled {
}
#u73.error.disabled {
}
#u73_img.selected.hint.disabled {
}
#u73.selected.hint.disabled {
}
#u73_img.error.hint.disabled {
}
#u73.error.hint.disabled {
}
#u73_img.selected.error.disabled {
}
#u73.selected.error.disabled {
}
#u73_img.selected.error.hint.disabled {
}
#u73.selected.error.hint.disabled {
}
#u73_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:0px;
  width:301px;
  word-wrap:break-word;
  text-transform:none;
}
#u73_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u74 label {
  left:0px;
  width:100%;
}
#u74_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:536px;
  width:325px;
  height:20px;
  display:flex;
  font-size:14px;
}
#u74 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u74_img.selected {
}
#u74.selected {
}
#u74_img.disabled {
}
#u74.disabled {
}
#u74_img.hint.disabled {
}
#u74.hint.disabled {
}
#u74_img.selected.disabled {
}
#u74.selected.disabled {
}
#u74_img.error.disabled {
}
#u74.error.disabled {
}
#u74_img.selected.hint.disabled {
}
#u74.selected.hint.disabled {
}
#u74_img.error.hint.disabled {
}
#u74.error.hint.disabled {
}
#u74_img.selected.error.disabled {
}
#u74.selected.error.disabled {
}
#u74_img.selected.error.hint.disabled {
}
#u74.selected.error.hint.disabled {
}
#u74_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:2px;
  width:301px;
  word-wrap:break-word;
  text-transform:none;
}
#u74_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u75 label {
  left:0px;
  width:100%;
}
#u75_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:579px;
  width:325px;
  height:20px;
  display:flex;
  font-size:14px;
}
#u75 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u75_img.selected {
}
#u75.selected {
}
#u75_img.disabled {
}
#u75.disabled {
}
#u75_img.hint.disabled {
}
#u75.hint.disabled {
}
#u75_img.selected.disabled {
}
#u75.selected.disabled {
}
#u75_img.error.disabled {
}
#u75.error.disabled {
}
#u75_img.selected.hint.disabled {
}
#u75.selected.hint.disabled {
}
#u75_img.error.hint.disabled {
}
#u75.error.hint.disabled {
}
#u75_img.selected.error.disabled {
}
#u75.selected.error.disabled {
}
#u75_img.selected.error.hint.disabled {
}
#u75.selected.error.hint.disabled {
}
#u75_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:2px;
  width:301px;
  word-wrap:break-word;
  text-transform:none;
}
#u75_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u76 label {
  left:0px;
  width:100%;
}
#u76_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:629px;
  width:325px;
  height:20px;
  display:flex;
  font-size:14px;
}
#u76 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u76_img.selected {
}
#u76.selected {
}
#u76_img.disabled {
}
#u76.disabled {
}
#u76_img.hint.disabled {
}
#u76.hint.disabled {
}
#u76_img.selected.disabled {
}
#u76.selected.disabled {
}
#u76_img.error.disabled {
}
#u76.error.disabled {
}
#u76_img.selected.hint.disabled {
}
#u76.selected.hint.disabled {
}
#u76_img.error.hint.disabled {
}
#u76.error.hint.disabled {
}
#u76_img.selected.error.disabled {
}
#u76.selected.error.disabled {
}
#u76_img.selected.error.hint.disabled {
}
#u76.selected.error.hint.disabled {
}
#u76_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:2px;
  width:301px;
  word-wrap:break-word;
  text-transform:none;
}
#u76_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u77 label {
  left:0px;
  width:100%;
}
#u77_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14px;
  width:20px;
  height:20px;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:671px;
  width:325px;
  height:48px;
  display:flex;
  font-size:14px;
}
#u77 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u77_img.selected {
}
#u77.selected {
}
#u77_img.disabled {
}
#u77.disabled {
}
#u77_img.hint.disabled {
}
#u77.hint.disabled {
}
#u77_img.selected.disabled {
}
#u77.selected.disabled {
}
#u77_img.error.disabled {
}
#u77.error.disabled {
}
#u77_img.selected.hint.disabled {
}
#u77.selected.hint.disabled {
}
#u77_img.error.hint.disabled {
}
#u77.error.hint.disabled {
}
#u77_img.selected.error.disabled {
}
#u77.selected.error.disabled {
}
#u77_img.selected.error.hint.disabled {
}
#u77.selected.error.hint.disabled {
}
#u77_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:0px;
  width:301px;
  word-wrap:break-word;
  text-transform:none;
}
#u77_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u78_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(99, 161, 3, 0.803921568627451);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:347px;
  top:838px;
  width:140px;
  height:40px;
  display:flex;
}
#u78 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u78_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u79_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(217, 0, 27, 0.6980392156862745);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:538px;
  top:838px;
  width:140px;
  height:40px;
  display:flex;
}
#u79 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u79_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u83_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:482px;
  width:300px;
  height:170px;
  display:flex;
  font-size:15px;
}
#u83 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u83_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u84_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:50px;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:391px;
  top:536px;
  width:46px;
  height:50px;
  display:flex;
}
#u84 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u84_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u88_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:479px;
  width:300px;
  height:170px;
  display:flex;
  font-size:15px;
}
#u88 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u88_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u89_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:50px;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:397px;
  top:537px;
  width:46px;
  height:50px;
  display:flex;
}
#u89 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u89_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u90_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:441px;
  top:740px;
  width:134px;
  height:17px;
  display:flex;
}
#u90 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u90_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u91_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:770px;
  width:309px;
  height:50px;
  display:flex;
}
#u91 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u91_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
